[2020-01-05 02:50] nickv2002 opened #2 "Initial Bug Report on ARC branch"
Hey @MaddTheSane
Thanks for agreeing to move forward with Simple Comic.
I was able to clone and build the source code from your repo here. Unfortunately it's not working for me. When using the latest commit on the `arc` branch I get the following error when trying to open a CBR file:
[code]

Is the `arc` branch working for you right now or is it mid update? (FWIW I'm using Catalina 10.15.2 and Xco

[2020-01-05 02:53] nickv2002 opened #3 "Future Plan"
For the initial plan I'd just like to get a build working on Catalina so that we can get it fully signed and notarized by Apple (so people can open it without having to Control-Click Open).

Then after that perhaps we can get a build up on the Mac App Store for easy redistribution.

Third, we can move forward with bug fixes and feature requests, along with translations and a better web presence.

[2020-01-05 03:39] MaddTheSane commented on #2
Is that only happening with the cbr file? Do other archives/comics also trigger this?

Also, if possible, please provide the archive.

[2020-01-05 03:56] nickv2002 commented on #2
I wasn't able to open a wide variety of CBZ files or just plain folders full of images either. I tried with the older 1.7.1 and it worked fine. Different example, if I drag [Business or Pleasure - Chris Ware.zip](https://github.com/MaddTheSane/Simple-Comic/files/4022900/Business.or.Pleasure.-.Chris.Ware.zip) onto the Simple Comic dock icon when it's running within the Xcode debugger:
[code]
Same f

[2020-01-05 04:31] MaddTheSane commented on #2
Try the following:

1. Run `defaults delete com.tsst.simplecomic`
1. Delete `~/Library/Application Support/Simple Comic`
1. Delete `~/Library/Containers/com.tsst.simplecomic`

This should reset Simple Comic.
As to the error, I'm not encountering it, which is frustrating. I could mitigate the assert that the call to `-[TSSTPageView resizeView]` that is throwing.

[2020-01-05 15:27] waha commented on #2
Probably not the proper fix, but add the following to Classes/Session/TSSTPageView.m at line 584:
	if (frameRect.size.width <= 0 || frameRect.size.height <= 0) {
	  return;
	}
Makes it stop crashing on archives for me.

[2020-01-05 17:39] #2 closed, assigned to nobody

[2020-01-17 08:38] MaddTheSane commented on #3
Sounds good to me.

I'm currently reading a book about CoreData, as I don't feel like my versioning of the data model was done correctly.

Another long-term goal for me is to make loading of images to happen asynchronously, thus freeing up the app when a large comic archive (or one over the network) is used. This will probably be after a new release, though.

[2020-01-17 14:39] oguntunde opened #5 "Can I get assistance to get QuickComic.qlgenerator to work on Catalina?"
After building Simple-Comic I added QuickComic.qlgenerator directly to /Users/"me"/Library/QuickLook & /Library/QuickLook/QuickComic.qlgenerator.

Simple-Comic works (albeit a little slowly) on my MacBook Pro running Catalina 10.15.2, but I get just the app icon as previews for all my .cbr and .cbz files

I ran qlmanage -p on a file to get feedback from the OS and received the following output:

[

[2020-01-18 02:23] nickv2002 opened #6 "Comics Sometimes Open in Small Windows"
With the Simple Comic 2020-01-12 12-05-43 build I notarized ([Download here](https://towatchlist.com/files/Simple%20Comic%202020-01-12%2012-05-43.zip)), comics sometimes open in very small windows. Not sure what's causing it yet but I both @waha and I [experienced it](https://github.com/MaddTheSane/Simple-Comic/pull/4#issuecomment-575106677). Not a big deal but something worth looking in to…

[2020-01-18 02:28] nickv2002 commented on #5
@oguntunde

[2020-01-18 02:30] nickv2002 commented on #5
Do you have this same problem with the notarized version?
[Downloaded here](https://towatchlist.com/files/Simple%20Comic%202020-01-12%2012-05-43.zip)

[2020-01-18 02:52] Ackthbpt opened #7 "QuickLook doesn't work"
When running the `Simple Comic 2020-01-12 12-05-43` version on Catalina (10.15.2) QuickLook doesn't work.

[2020-01-18 14:54] manuelgrabowski commented on #5
@nickv2002 I'm on Catalina and QuickLook works fine for me with the version you posted here.

[2020-01-18 14:56] manuelgrabowski commented on #7
It works fine for me, I'm also on 10.15.2. You're talking about the version from #5?

[2020-01-18 16:49] Ackthbpt commented on #7
I am, yes.  Is there some way to "purge" or "reset" QuickLook?  In years past, I may have added custom QL plugins and maybe one of those is interfering?

[2020-01-19 00:16] Ackthbpt commented on #7
When I try to generate from the command line using `qlmanage -p SomeComic.cbr`, I get this:
[code]

I've run `qlmanage -r` and `qlmanage -r cache` multiple times - both with and without `sudo` - with no change.

[2020-01-20 16:49] manuelgrabowski commented on #7
What do you have in your `~/Library/QuickLook` and `/Library/QuickLook` directories? Any leftovers in there that might interfere?

Can you post the output of these two commands (assuming you put it in your Applications directory of course):
`xattr /Applications/Simple\ Comic.app`
and
`xattr /Applications/Simple\ Comic.app/Contents/Library/QuickLook/QuickComic.qlgenerator`

(The output would ideall

[2020-01-21 01:54] Ackthbpt commented on #7
Sure thing.  Both of the `xattr` commands return `com.apple.quarantine` which just doesn't seem like a *good* thing.

The only thing I have in `~/Library/QuickLook` is `QLAddict.qlgenerator` which is a QL plugin fot `.srt` files, and `/Library/QuickLook` has both `iWork.qlgenerator` and `Video.qlgenerator` in it.

[2020-01-21 13:10] manuelgrabowski commented on #7
Ah, there we go, that's the reason then. Good news and bad news:

Good: You can easily fix it by running the `xattr` command again, but with the parameters set to remove the attribute: `xattr -r -d com.apple.quarantine path`
Afterwards QuickLook should work, though I'm not sure if you need to run it just on the QuickLook plugin inside the app, just on the app, or on both.

Bad: I have no idea why

[2020-01-21 21:42] manuelgrabowski commented on #5
@oguntunde You might wanna check out #7, we found a probable cause for QuickLook not working there. :)

[2020-01-22 02:25] Ackthbpt commented on #7
Alas, this did not fix my issue.  I removed the `xattr` from the original ZIP file, then installed it, opened it, and checked the two `xattr`s that you asked about earlier and the `com.apple.quarantine` is indeed gone, but QL still doesn't work.

[2020-01-22 06:40] manuelgrabowski commented on #7
Huh, that's odd. Same error message as in your previous post?

What are your settings in here:
![image](https://user-images.githubusercontent.com/13483728/72870772-63585000-3ce9-11ea-8d20-502045e4e420.png)

[2020-01-22 06:48] manuelgrabowski commented on #7
Here is a list of other things to try, maybe one of those steps will work for you: https://michaelbach.de/2019/11/14/Markdown-quicklook-in-Catalina.html

Still so weird that I had to do none of that. Is your Catalina a clean install or did you upgrade from a previous version?

[2020-01-22 23:11] erutan commented on #7
Chiming in that 3 sources of .cbr and .cbz files worked on my side from the new notarized app Version 1.8.3 (255) (for whatever that's worth).

[2020-01-23 01:14] Ackthbpt commented on #7
@manuelgrabowski My settings look identical to that screen (with the addition of some Apple Watch stuff).  And none of the suggestions in that link worked.  My Catalina is an upgrade, not a clean install.

I don't know if any of this helps, but if I run `qlmananage -m | grep cbr` then I get:
[code]
So it looks like all of the QL associations are there.  And if I try doing `qlmanage -p [PATH TO CBR

[2020-01-23 01:27] Ackthbpt commented on #7
Also, I was going to try building it for myself, but cloning the git repo and following the directions doesn't work.  I get a `error: Build input file cannot be found: '/Users/Paul/Downloads/Simple-Comic/Vendor/ios-osx-webp-decoder/libwebp/src/utils/bit_writer_utils.c' (in target 'WebPMac' from project 'libwebp')` when I try.  When I check, the `libwebp` directory is completely empty.  If this isn

[2020-01-23 01:37] MaddTheSane commented on #7
`git submodule update --init --recursive`. The `--recursive` is the crucial part.

[2020-01-23 01:53] Ackthbpt commented on #7
Gotcha.  Could I recommend that that be added to the README?  I was able to build once I did that.

Unfortunately, the issue persists.

UPDATE - no it doesn't.  Once I closed Xcode, the QL preview started working.  I'm very perplexed, but at least it's functional now.

[2020-01-24 17:26] DizzieDawgie opened #8 "Background Color Preference not saved"
The Simple-Comic preferences window has four settings: a background color picker and three other check boxes. When checking/unchecking the three boxes, the settings are preserved after closing and re-opening the application (as expected), but the background color always resets to white (NOT as expected). After changing the color to black I'd expect that color preference to be saved like the other

[2020-01-24 18:22] MaddTheSane commented on #8
Can confirm. Investigating.

[2020-01-24 18:26] #8 closed, assigned to nobody

[2020-01-24 18:43] DizzieDawgie opened #9 "Closing comic while full-screen crashes app"
Steps to reproduce:
- Drag a folder of images (or a single image) to the Simple-Comic icon in the Dock. App opens and displays first image.
- Click green expand button in top-left of window to maximize the app. App goes full screen.
- Type Cmd-W to close the window.

At this point I'd expect the app to close the opened full-screen comic. Instead it quits with an OS popup that reads "Simple Comic q

[2020-01-24 18:53] MaddTheSane commented on #9
Found out a couple of places that cause this error. Fix incoming.

[2020-01-24 18:54] #9 closed, assigned to nobody

[2020-01-26 02:51] oguntunde commented on #5
Thank you for all the help, guys. I downloaded the latest notarized version, deleted the copy of QuickComic.qlgenerator I had in the /Library/QuickLook directory. I copied over the QuickComic.qlgenerator version from ~/Library/QuickLook, launched SimpleComic , reset the qlmanager with qlmanage -r and voila! my previews are back!

They were a bit slow so I deleted The Unarchiver and two other comic

[2020-01-27 04:53] #5 closed, assigned to nobody

[2020-01-27 04:54] nickv2002 commented on #7
Closing for now; please re-open if you experience more issue that you can document.
Thanks for the good back and forth.

[2020-01-27 04:54] #7 closed, assigned to nobody

[2020-01-31 05:37] Duamer opened #10 "Feature request: Full screen so it doesn't black out additional monitors."
In the older versions of Simple Comic, when you full screened the comic and you have additional displays, your side displays would remain displaying as normal. Now when you go full screen, it blacks out the other displays and shifts away when you tab to a different program.

[2020-01-31 14:07] snte opened #11 "Feature request: Double page spread with horizontal formats"
Like any comic viewer i tried simple comic also won't show double page spread when the page format is horizontal. I suppose this is because pages might get small with horizontal formats, but sometimes it is helpful when books make use of illustrations across double pages.

So i think an option for double page spread regardless of format would be great!

I tried building it myself with Xcode 10 (an

[2020-01-31 22:28] MaddTheSane commented on #10
I'm not able to recreate the blank other screens problem.

[2020-02-01 07:19] Duamer commented on #10
macOS 10.14.6 > System Preferences > Mission Control > Displays have separate Spaces.

If **Displays have separate Spaces** is check, the black screens doesn't happen. I have it uncheck becase I don't like the other UI changes that go along with it.

It has something to do with how Apple wants full screen to act, but I really don't like it. It's why I titled it as a feature request and not a bug r

[2020-02-01 23:35] nickv2002 opened #12 "Changes for App Store Submission"
We should make some changes for App Store submission.

1. I already updated the Readme with a privacy policy https://github.com/MaddTheSane/Simple-Comic/commit/cfade4a4688004a3adc3501dc466e1e454729ac6
1. Please remove the link to Dancing Tortoise in the title. We can link to app store or elsewhere later. <img width="1031" alt="Screen Shot 2020-02-01 at 3 30 25 PM" src="https://user-images.githubus

[2020-02-01 23:40] MaddTheSane commented on #12
Link removed.

[2020-02-09 21:41] J-rg opened #13 "Decreasing loupe size not working correctly"
Switching to Autolayout broke the ability to decrease the size of the loupe with cmd + scrolling down, changes go into effect only in windows that have been opened after the size was changed.

[2020-02-09 21:57] J-rg opened #14 "Customizing toolbar broken on 10.14+"
Customizing the toolbar is not possible on Mojave and Catalina, the sheet with the available items doesn’t show up due to an error with validating the toolbar items.

[2020-02-10 02:17] #13 closed, assigned to nobody

[2020-02-10 02:17] #14 closed, assigned to nobody

[2020-02-16 02:45] nickv2002 commented on #12
Simple Comic is now up on the [Mac App Store](https://apps.apple.com/us/app/simple-comic/id1497435571?ls=1&mt=12) Give it a try and let me know if you see any issues.

It's based on this build https://github.com/MaddTheSane/Simple-Comic/commit/ea03edc9a5e33305190e1013b95b796c3392d69c so there may be a few commits after this. I'll push a new build at some point if everything else looks OK with the

[2020-02-16 02:45] #12 closed, assigned to nickv2002, MaddTheSane

[2020-02-23 16:32] ronaldsuwandi commented on #3
Will there be any announcement when the App store version is up?

[2020-02-23 18:55] nickv2002 commented on #3
Mac App store version is up here:
https://apps.apple.com/us/app/simple-comic/id1497435571
(I hadn't publicized it much yet because I was kicking the tires but so far it's working well, please let us know here if you find any issues.)

[2020-03-13 04:01] roosterboy opened #16 "AppStore version 1.8.4 can't open cbr/cbz files"
I just installed version 1.8.4 from the AppStore and it won't open any of my CB[RZ] files. I can't set Simple Comic as the default app for those file types in the Finder's Get Info window, it doesn't come up as an option when I right-click and select Open With... in Finder, and file names are grayed out and unselectable when I try using the application's Open menu.

I restarted my laptop and also

[2020-03-13 04:04] MaddTheSane commented on #16
Run an `mdls` on a cbr/cbz file.
I can only think that something else is taking over the cbr/cbz files' UTI for itself.

[2020-03-13 20:44] roosterboy commented on #16
The kMDItemContentType attribute was set to 'com.yacreader.yacreader.cbz'. I uninstalled YACReader and now Simple Comic can open my files and I get the QuickLook back. Man, how I missed that!

Thanks!

[2020-03-13 20:44] #16 closed, assigned to nobody

[2020-03-18 20:48] Jakanapes opened #17 "QuickLook works, but no icons on issues"
Downloaded from app store.  The QuickLook works and it shows the cover in the Preview pane of GetInfo, but the icons for the files are blue rectangles with the zipper on them, like I'd see for zip files, but only in the list or columns view in finder
![Screen Shot 2020-03-18 at 3 47 38 PM](https://user-images.githubusercontent.com/239207/77006053-cd7b2300-692f-11ea-9e11-65dab66b1a8e.jpg)

Icons sh

[2020-03-20 13:42] steffenhk opened #18 "QuickLook does not work with WebP files"
If the cbz or cbr file contains webp files, the QuickLook plugin does not seem to work for me.
It works for files containing other types of image files.
Anyone else have the same issue?

SimpleComic itself opens and displays the files correctly.
I installed the App Store version.

[2020-03-20 23:09] #18 closed, assigned to nobody

[2020-03-21 06:09] razasyedh opened #19 "SQL database fails to be found on startup"
Firstly, thank you for picking up the project and maintaining a fork. I am on fresh install of macOS 10.12.6 and installed the app through the App Store (v1.8.4). While I can start the app and set preferences, opening comics doesn't work. Upon launching the app, these errors show up in the Console:

[code]

The same errors also show up when trying to open a comic.

[2020-04-11 13:03] frozenpandaman commented on #10
Huge +1 on this. I'd love to see the "full screen" button (mentioned in https://github.com/arauchfuss/Simple-Comic/issues/116#issuecomment-345372434) brought back which essentially just made it display as windowed noborder – as this works so much better than macOS's native "full screen" functionality (and also fixes the issue in question too, plus you can have multiple folders/zips open this way,

[2020-04-20 01:58] johnatpackawhallop commented on #3
Thanks so much for making this work on Catalina and putting it in the Mac App Store.

Question. The icons for .cbr and .cbz files on macOS used to be "flat" such that you could see the entire cover. Now they have the curled dog-ear upper right corner document-style icon. Does anyone know why this happened and is there a way to fix it or change it? Thanks!

[2020-04-29 23:43] perogiue opened #23 "Can't skip to first page"
Just a minor issue I noticed.

You can't skip to page 1 if you're on page 2-9.

If you're on page 10, skip towards page one, then page left/right away from the first page, the app jumps to the first page.

If you're on page 10, skip towards page one, then page left/right towards the first page, the app jumps to the last page.

This was seen on 1.8.4 (App Store version) and wasn't seen in 1.7.1.

[2020-05-04 19:46] Ospeleo opened #24 "Can't open cbr files"
Hi,
I just downloaded Simple Comic via AppStore (MacOS 10.12.6).

I downloaded one cbr file and one cbz file.
I can't open/view neither files via Simple Comic.
The quickview via hitting spacebar from the finder works for the cbz, not the cbr. Is it a sign that Simple Comic is partially working?
When I use SuffitExpander on the cbr file, I get a folder with all the images, so I imagine the cbr file

[2020-05-05 22:55] MaddTheSane commented on #24
My guess is something else is taking over cbr files.

run `mdls` on the file in question and post the result here.

[2020-05-05 23:35] Ospeleo commented on #24
Thanks.
- I already set .cbr files to open with Simple-Comic
- Simple-Comic do not even open the file using "File>Open" within the application
no luck.

mdls comic.cbr:
_kMDItemOwnerUserID            = 501
kMDItemContentCreationDate     = 2020-05-04 19:16:51 +0000
kMDItemContentModificationDate = 2020-05-04 19:29:40 +0000
kMDItemContentType             = "cx.c3.cbr-archive"
kMDItemContentTypeTree

[2020-05-06 12:37] gelpke commented on #24
Same problem on an iMac (2011) with High Sierra. Cannot open any comic file. All files are "greyed out". I really hoped this version would function well on High Sierra, since 1.7 isn't stable on High Sierra.

[2020-05-06 12:45] Ospeleo commented on #24
I don't want to shoot myself in the foot, maybe Simple-Comic 1.8 is just not compatible with High Sierra (10.12) at all? we are dinosaurs.

[2020-05-07 16:34] ThrillD commented on #24
I'm having the same problem, except I'm on Catalina. I have 1.7 and it doesn't work. I was all set to update, but now I'm wondering if it's worth updating at all.

[2020-05-09 05:07] MaddTheSane commented on #23
What OS are you using?

[2020-05-09 20:05] perogiue commented on #23
Mojave 10.14.6 (18G2022)

[2020-06-06 03:33] 2V3EvG4LMJFdRe opened #26 "Nothing opens on High Sierra"
Switched from Simple Comic 1.7 to 1.8.4 on the app store. Nothing opens, cbr, cbz, pdf, jpg, png, anything I throw at it, nothing happens. I also have to quit with Force Quit, normal quitting doesn't work, even though the program isn't frozen.

[2020-06-06 03:34] #26 closed, assigned to nobody

[2020-06-06 03:34] 2V3EvG4LMJFdRe commented on #26
Repeated.

[2020-06-06 03:35] 2V3EvG4LMJFdRe commented on #24
Same, nothing opens.

[2020-06-06 07:35] ThrillD commented on #24
Well, I took a chance and rebooted a few times. The update seems to work now.

[2020-06-06 14:54] peirantan commented on #3
Just got it from the MAS. You sir are a real hero.

[2020-06-16 13:41] Envo commented on #3
Maybe it's time to support heic files inside the archive. We could save a lot of disk space.

[2020-06-16 17:29] nickv2002 opened #27 "Support HEIF/HEIC"
Request from https://github.com/MaddTheSane/Simple-Comic/issues/3#issuecomment-644773804
(HEIF is the format, HEIC is the container)

Mac OS supports these natively, so it would be a matter of detecting the format and connecting to the right supporting libs.

[2020-06-16 20:04] MaddTheSane commented on #27
If `NSImage` supports it, it should automatically be supported by SimpleComic.

I'll have to test to make sure, though.

[2020-06-17 17:11] nickv2002 commented on #27
I just tested with a mixture of HEIC and JPEG images and it all showed up in the correct order.

[2020-06-17 17:13] nickv2002 commented on #27
(This is assuming you're using a recent version of macOS that supports HEIC natively. I think it was added to High Sierra but it definitely works for me on Catalina. If you're on an older version, it won't work an it's not really worth adding custom support for that.)

[2020-06-18 19:59] 2V3EvG4LMJFdRe commented on #24
Nah, it's not working for me on High Sierra after multiple reboots, removal of settings, reinstall.

[2020-06-24 20:58] sygao commented on #6
I went looking for the source of this bug, but I've yet to get to the bottom of it. From what I can see, the second session in every batch of opened new sessions loads up with [isZoomed](https://developer.apple.com/documentation/appkit/nswindow/1419398-iszoomed) set to YES rather than NO. [TSSTSessionWindowController restoreSession](https://github.com/MaddTheSane/Simple-Comic/blob/0464d3b6bf31a35b

[2020-06-24 23:51] nickv2002 commented on #6
Thanks for your help @sygao
I’ll let @MaddTheSane weigh in on if this, but I’m happy to put up another build on the App Store with fixes (and Universal Binary Support!) whenever they’re ready.

[2020-06-24 23:58] MaddTheSane commented on #6
Looks good. I'd like to fix the underlying issue, but this should be a good work-around for now.

[2020-06-24 23:59] #6 closed, assigned to nobody

[2020-06-25 00:18] sygao commented on #27
One minor caveat: HEIC isn't explicitly listed as a document type yet, so Finder won't allow you to open HEIC files via the right-click menu (Open With and etc). Can that be added that in the next App Store build?

[2020-06-25 20:50] nickv2002 commented on #27
That should be no problem @sygao
Thanks for the suggestion

[2020-06-26 23:38] sygao commented on #11
TSSTPage [shouldDisplayAlone](https://github.com/MaddTheSane/Simple-Comic/blob/ea53689011acf905d307cb6d1f2774bf711e6e45/Classes/Managed%20Objects/TSSTPage.m#L118) returns YES or NO based on aspect ratio. It gets called in TSSTSessionWindowController [changeViewImages](https://github.com/MaddTheSane/Simple-Comic/blob/ea53689011acf905d307cb6d1f2774bf711e6e45/Classes/Session/TSSTSessionWindowControll

[2020-06-27 17:15] thibo1138 commented on #10
+1 I would like too to get the old full screen system back (maybe as an option?) with it's progress bar interface that i find better

[2020-06-27 18:23] thibo1138 opened #29 "SImple comics doesn't appear in "open with..." for RAR files and don't apply a rar file icon"
I adopted the Mac app store version recently ,
I discovered that RAR files which are supported by simple comic doesn't have an icon and simple comics isn't listed in the open With... apps

The strange thing is the icon is in the app files:
<img width="1388" alt="Capture d’écran 2020-06-27 à 20 15 22" src="https://user-images.githubusercontent.com/20288083/85929192-1c334400-b8b3-11ea-8420-2f82bc8bb

[2020-06-27 18:45] thibo1138 opened #30 "Feature Request : AutoHide Feature for Status Bar in full screen"
Hello
 I would like to suggest a feature:
Could it be possible to have the Status Bar disappear after some second (2-3s after stopping moving)  and reappear when I move the mouse?
And to be complete with this "3rd" state of status bar ,it should appear over the picture and not under it (if it's not too hard) to avoid the view moving each time the bar appear.

Edit : The bar would stay visible as l

[2020-06-29 00:13] thibo1138 commented on #29
Seems to be a problem of my system i'm closing it because of a shitty app that modified the rar type it seems I'm closing the issue

[2020-06-29 00:13] #29 closed, assigned to nobody

[2020-07-06 18:09] nickv2002 commented on #27
Fixed in https://github.com/MaddTheSane/Simple-Comic/pull/31 which is [live on the app store](https://apps.apple.com/us/app/simple-comic/id1497435571?mt=12) (version 1.8.6)

[2020-07-06 18:09] #27 closed, assigned to nickv2002

[2020-07-08 11:15] Sam-Kruglov opened #32 "Comics don't open (presumably since last update)"
Hi,

I used to be able to open the comics but just now it seems nothing happens when I click on them (I get SimpleComic icon in the dock but no window appears). I noticed the app was updated recently, perhaps, there was a bug introduced. I tried `.cbr` and `.cbz` - both didn't work.
Here is [the file](https://drive.google.com/file/d/11RjdzZHhsCYI73vKwB7pw8rtTRp8fWQB/view?usp=sharing) that I fail t

[2020-07-08 14:14] eallengd commented on #32
I have the same problem also.

[2020-07-08 16:30] Rickfy commented on #32
Same problem here. I just downloaded the app, but it just does not open, nothing happens when I click to open, only the SimpleComic icon appears on the dock.

[2020-07-08 19:20] waha commented on #32
I believe it's a problem with files having the cbr or cbz extension. If I rename my comics to have .zip or .rar and right click and open with Simple Comic they will open fine.

[2020-07-08 19:22] eallengd commented on #32
Then how come it worked fine yesterday. Even previous files won’t open up.

[2020-07-08 19:25] waha commented on #32
Do you have automatic updates enabled? The App Store version was updated the other day which is why we're seeing people with this problem now I'm guessing.

Rolling back to 1.8.4 for me fixes it.

[2020-07-09 10:56] eallengd commented on #32
How do I get 1.8.4 version?

[2020-07-09 19:19] nickv2002 commented on #32
Yeah I see the same issue. I'll see what I can do about fixing and/or rollback too.

[2020-07-09 20:50] nickv2002 commented on #32
Sorry for trouble I reverted back to a branch based on an old commit and submitted that build to the App Store as 1.8.7:
https://github.com/MaddTheSane/Simple-Comic/tree/app-store-1.8.7-backfix

@MaddTheSane I was easily able to duplicate the issues opening CBZs described above with all the commits including and after this one https://github.com/MaddTheSane/Simple-Comic/commit/15073a811bd4f4c0d79b

[2020-07-10 03:40] nickv2002 commented on #32
Rollback fix is [live on the App Store](https://apps.apple.com/us/app/simple-comic/id1497435571?mt=12)

I’ll check out the forward fix referenced above tomorrow or over the weekend. Thanks all and sorry for the bugs.

[2020-07-21 18:03] nickv2002 commented on #32
1.8.8 is [live on the App Store](https://apps.apple.com/us/app/simple-comic/id1497435571?mt=12)

It fixes the problems in 1.8.6 and includes the features from 1.8.7 (without the bug in that version).

Thanks all.

[2020-07-21 18:03] #32 closed, assigned to nickv2002, MaddTheSane

[2020-07-21 18:16] nickv2002 commented on #17
Thanks for your feature request. This is a design decision to not show QuickLook thumbnails if your icon size is small enough they won't be very usable (for a small performance gain in large lists or over slow network connections). If you change your list view to have larger icons (Finder ➡️ View ➡️ Show View Options) you can see icons in the List View, and, as you noticed, the default icon size i

[2020-07-21 18:16] #17 closed, assigned to nobody

[2020-07-21 18:22] nickv2002 commented on #24
There's a few different, but possibly related issues reported in this thread. If you all could try the latest 1.8.8 version of Simple Comic from the [App Store](https://apps.apple.com/us/app/simple-comic/id1497435571?mt=12), that would be a good place to start. If you still have problems please post a small example file here so we can test it out. Thanks.

[2020-07-21 18:24] nickv2002 commented on #30
Thanks for the request, it's a good idea.
I've added labels for this so we don't loose track of it but can't make any claims about when or if we add these features.

[2020-07-21 18:27] nickv2002 commented on #19
This is puzzling. I it still the case with the [1.8.8 version on the app store now?](https://apps.apple.com/us/app/simple-comic/id1497435571?mt=12)

[2020-07-21 22:44] razasyedh commented on #19
Unfortunately the same errors happen on 1.8.8.

[2020-07-22 08:21] waha commented on #19
Maybe it's a permissions issue? Could try going into ~/Library/Containers and rename com.tsst.simplecomic to something else and try launching Simple Comic after?

[2020-08-09 10:57] doroshenko opened #36 "Disable error "beep" sound when pressing an unbound key"
Hey!

Currently when you press a key that is not associated with any of the Simple Comic hotkeys, the app produces a system error "beep" sound. I personally find this quite annoying.

What do you guys think about it? If there's an interest in changing this behavior, I can open a PR. It should be a simple one-line fix.

[2020-08-09 16:41] blmatthews commented on #36
A user performing an action and getting *zero* feedback is terrible UX. If I hit a key, and nothing happens, I'm left wondering is what I'm trying to do just slow (and there's no progress indicator), is that function broken, is the app hung, is my computer hung... The beep tells me definitively and immediately I hit a wrong key, so I can take corrective action.

[2020-08-09 17:43] doroshenko commented on #36
After investigating a bit more, it turns out that Simple Comic's behavior in this case is consistent with most of the native macOS apps, and the beep volume for any application could be controlled through the "Alert volume" slider in system sound settings. As such, I'm closing this issue.

[2020-08-09 17:43] #36 closed, assigned to nobody

[2020-08-11 22:20] ReverendKilljoy opened #37 "Big Sur compatability"
MacBook Pro (15-inch, 2017); 2.9GHz Quad-core i7; 16GB RAM;
Radeon Pro 560 4GB driving 2560 x 1080 in clamshell mode

OS 11.0 Beta (20A5343j)

The program crashes immediately on launch, crash report excerpt below:

[2020-08-22 19:37] 2V3EvG4LMJFdRe commented on #24
I'm not sure what I could provide, nothing happens at all. pdf, .cbr, .cbz., anything. Don't open, don't produce an error either. The only thing about is if I try to Quit it, it never responds to it, and I have to manually Force Quit (even though the app itself hasn't crashed and thus doesn't offer the option).

[2020-08-28 12:24] TheKerstFamilyRanch opened #38 "jhg hjkg"
![IMG_7792 (1)](https://user-images.githubusercontent.com/58804092/91560450-bbde7400-e8ee-11ea-9381-32ab1c7d6552.GIF)
![IMG_7792](https://user-images.githubusercontent.com/58804092/91560452-bc770a80-e8ee-11ea-9a1d-3016f7d5d610.GIF)
![IMG_5747](https://user-images.githubusercontent.com/58804092/91560453-bc770a80-e8ee-11ea-8320-6434f351de36.GIF)
![IMG_7962](https://user-images.githubusercontent.com/

[2020-09-15 18:15] waha commented on #37
For those wanting to compile their own the following diff fixes the crash on Big Sur.

[code]

[2020-09-15 18:24] nickv2002 commented on #37
Thanks @waha - if you have time please submit a PR that we can merge easily.

[2020-09-15 18:32] #37 closed, assigned to nobody

[2020-09-15 18:34] waha commented on #37
Thanks for sorting it out for me :)

[2020-09-30 21:13] ppzjd opened #39 "Can't set page as file icon"
Running v1.8.8 on 10.15.7, and I am unable to set a page as the file icon for the Finder.  I'm unsure if this is a Mac OS problem or not.  Tried this with both .cbr and .cbz files, but no dice.  Thanks so much in advance for any insight or assistance!

[2020-09-30 22:15] nickv2002 commented on #39
What icon size are you using in the Finder?
See related issue/explanation here https://github.com/MaddTheSane/Simple-Comic/issues/17

[2020-10-01 14:20] ppzjd commented on #39
Actually, after I restarted my iMac, Nick, newly-downloaded .cbr files already come up with the icon preview, so this was all that was needed for me for Quick View!  FYI, though, in case anyone else is reading this thread, I have my icon size set at 48 x 48, so this would be a good reference size for anyone -- not sure what the minimum size would be otherwise.  Thanks so, so much for your quick re

[2020-10-01 16:46] #39 closed, assigned to nobody

[2020-10-28 11:18] TheCGCy opened #40 "Feature request: A checkbox toggle to ignore non-image format."
Currently it will shows *txt files within CB archives. Sometimes as first page or last, depends on file format letters and arrangement, but not removing text file support tho. Since sometimes the comic book bought or obtained online will include additional info in various text file formats, I'd like to preserve that.

Long story short, I'd like to have a "picture only" toggle where it doesn't disp

[2020-10-28 19:28] nickv2002 commented on #40
It's not a bad feature but it is very niche. Not sure if the hobbyists around here are going to find time for this kind of thing but PRs are open.

[2020-11-12 18:08] nickv2002 opened #41 "Big Sur and Apple Silicon Status"
TLDR: The App Store version of **SimpleComic won't work in Big Sur on launch day** (today) but should be updated for compatibility soon. Apple Silicon support TBD but expected not to be a problem.

---------

I've been in a multi-step move over the past few months, so haven't had time for side projects but that's closing up now.

For the Mac App store version, I'll look into putting together the n

[2020-11-13 01:18] MaddTheSane commented on #41
I was able to get Apple Silicon to compile fine. But I haven't tested it yet as I don't have an Apple Silicon Mac yet.

[2020-11-19 18:36] Myhrdin commented on #41
When do you think the App Store version will be updated ? (Sorry I'm kind of noob on Git and I don't know how to modify Simple comics to apply the fix). Thank you for your work :)

[2020-11-19 18:40] nickv2002 commented on #41
I'll have some time off next week for the holiday and hope to get to the updates then @Myhrdin
Thanks for checking in!

[2020-11-21 19:15] nickv2002 commented on #41
A Big Sur and Apple Silicon native build has been submitted to the App Store for review (version **1.9.0**).
It will be released automatically once Apple approve it there.

[2020-11-21 21:32] nickv2002 commented on #41
@MaddTheSane note that the app store only accepts 64-bit ARM/x86 builds so I had to change some of the build settings on the `WebPMac` target to remove other architecture refs. It seems these changes are ignored by Git but I figured worth documenting here for my future ref. Also something that might be changed upstream?
![ARM and x86_64 settngs needed for App Store](https://user-images.githubuserc

[2020-11-21 21:36] MaddTheSane commented on #41
I was trying to be clever with adding x86_64h architecture. Clearing the _Architectures_ flag should result in the same changes.

[2020-11-21 21:38] nickv2002 commented on #41
Yeah that x86_64h results in a disallowed architecture (`none`) error even though it's 64-bit 🤷‍♂️:
[code]

[2020-11-22 09:35] nickv2002 commented on #41
Haven't looked at the code yet but the latest build got rejected for using private APIs. @MaddTheSane if you know what this use is for please advise on removing or reworking it.

[2020-11-22 17:28] MaddTheSane commented on #41
Okay, _now_ they have a problem with that?
Yeah, I know where it is. I’ll look into possible replacement/removal.

[2020-11-22 21:48] MaddTheSane commented on #41
Should be fixed by commit 3b8af881781d0843bac1c2e909e3dbfa8b8b3cb3.

[2020-11-23 07:50] nickv2002 commented on #41
Submitted updated build to Apple. Thanks for quick turn-around

[2020-11-24 20:02] nickv2002 commented on #41
Another rejection:

This is exactly how Preview.app works... sigh.
I told them it's not a bug and sent them some sample public domain files to try to open.
To help with this in the future, if the app is opened without any associated file, maybe good to show the Open dialog box?

[2020-11-25 08:49] nickv2002 commented on #41
Updated version is up on the App Store now
https://apps.apple.com/us/app/simple-comic/id1497435571
Please open a new issue if you see any problems. Thanks!

[2020-11-25 08:49] #41 closed, assigned to nickv2002

[2020-11-26 05:10] Cypher69er commented on #19
Just updated to 1.9 via the Mac App Store and am getting the "File doesn't exist" error on launch.

Previously I could fix it by trashing the SQL files but that no longer appears to work.

I also tried trashing the TSST files as mentioned above, to no avail.

[2020-11-26 08:17] nickv2002 commented on #19
@Cypher69er which version of macOS are you using?

[2020-11-26 08:19] Cypher69er commented on #19
Sorry, 10.14.6 on a 2019 iMac. I know Mojave has been having App Store problems lately, so could it be related to that?

[2020-11-26 08:31] nickv2002 commented on #19
I'm not in the know about those problems, but you could always build it yourself to try another option. Maybe we can host compiled binary downloads here on GitHub too.

[2020-11-26 08:39] Cypher69er commented on #19
Cool, always good to have options. Keep up the sterling work Nick!

[2020-11-27 06:35] nickv2002 commented on #19
Here's a notarized version of the 1.9.0 for you to try: [Simple Comic.app.zip](https://github.com/MaddTheSane/Simple-Comic/files/5606284/Simple.Comic.app.zip)

[2020-11-27 06:36] Cypher69er commented on #19
Thank you kindly! Let you know how I go.

[2020-11-29 03:34] thebearmayor opened #43 "Current version crashes when opening files"
Application crashes when opening any file. This is a new issue with the current version from App Store. OS is Mojave 10.14.6.

Crash log:
[Simple Comic_2020-11-28-213005_bpeterson.crash.txt](https://github.com/MaddTheSane/Simple-Comic/files/5611600/Simple.Comic_2020-11-28-213005_bpeterson.crash.txt)

I'm happy to help with troubleshooting in any way, including testing patches.

[2020-12-02 09:48] MaddTheSane commented on #43
Can confirm. I think I found a fix.
This issue doesn't happen on later OS releases.

[2020-12-02 09:49] #43 closed, assigned to nobody

[2020-12-02 15:31] koldomi commented on #24
Ver. 1.9.0 not work on MacOS Mojave (10.14.6)... previous versión work very well ;(

[2020-12-04 14:45] thebearmayor commented on #43
Thanks, works for me.

[2020-12-12 07:47] weekender23 commented on #24
having the same problem also. Went back to previous version and was able to open .cbr, .cbz files.

[2020-12-12 17:26] nickv2002 commented on #24
I hit some problems with a reputable Xcode crash that are preventing me from uploading a build with fixes for then Mojave issue (which was fixed by @MaddTheSane in another issue thread). Work work more on this over the winter break.

[2020-12-17 02:24] Cypher69er commented on #19
Sorry for the delay, alas I have the same problem with the direct-download version. For the App Store version I tried removing all the system files I could find and reinstalling, but that didn't work either. Here's the crash report for each:

App Store version

`Process:               Simple Comic [97305]
Path:                  /Applications/Simple Comic-1.localized/Simple Comic.app/Contents/MacOS

[2020-12-17 02:27] MaddTheSane commented on #19
@Cypher69er It looks like that last error is #43 and is resolved.

[2020-12-17 02:47] Cypher69er commented on #19
Thanks @MaddTheSane is the only fix to upgrade macOS? Gonna be stuck on Mojave for a while yet.

(For the record my old v1.7.1 (253) still works fine, just needs SQL files trashed occasionally)

[2020-12-17 02:49] MaddTheSane commented on #19
The CGGStackRestore assert bug is fixed in the repository, but a new release isn't out that fixes it. I haven't run into the SQL issue yet, sadly.

[2020-12-17 02:57] Cypher69er commented on #19
Ah gotcha, thanks again!

It may well be I'm in the wrong thread, the "crash on opening" resembled my previous issues with the SQL files.

[2020-12-20 08:40] Cypher69er commented on #19
Update: New version available in App Store and has fixed my issue (which I suspect was #43 after all, not #19).

Many thanks once more!

[2020-12-22 11:24] sebacancinos opened #49 "Colaboration protocol"
Hello! I'd like to contribute to this project, is this an open project? is there any protocol you prefer for contributions?

I'm sorry if this is not the right place to post this, I see no contact information on the readme.

[2020-12-23 03:52] nickv2002 commented on #49
@sebacancinos we've had a number of great contributions from people. Just send a PR our way. Thanks in advance!

[2020-12-23 20:49] noisykilljoy opened #50 "simple comic wont open"
i use mac os high sierra 10.13.6 and i just downloaded simple comic. i've redownloaded and removed and restarted my system a few times but i don't see simple comic's window. i can see the app in my deck. i checked through activity monitor and i can see it in the list but it's not using anything. the comic preview for finder works though. i'm not sure what's wrong.
![Screen Shot 1399-10-04 at 00 17

[2020-12-24 03:07] nickv2002 commented on #50
@noisykilljoy Like Preview.app, Simple Comic has no window until you actually open an image or folder of images or CBZ/CBR file with it.

Are you able to see a window once you open files?

[2020-12-24 07:29] noisykilljoy commented on #50
I opened CBR files and nothing showed up. I just tried it with a JPG file and nada.

[2020-12-24 19:24] nickv2002 commented on #50
@noisykilljoy on High Sierra you might be better served with the original version of Simple Comic from before we forked it. You can find that here http://dancingtortoise.com/simplecomic/

[2020-12-24 20:36] noisykilljoy commented on #50
thanks mate!

[2021-04-13 08:58] FrostyGelato opened #51 "Zooming Performance is Really Poor"
I have a comic book about 80 MB in size, scanned. The comic opens fine, but zooming in and out on it is extremely laggy. I have repeated experienced this issue with comics with large file sizes.

[2021-04-13 17:03] nickv2002 commented on #51
80MB itself should be be no problem, I've certainly looked at larger. However, using SimpleComic 1.9.1 on my M1 MacBook I do notice that scaling performance gets worse after the first few zoom bumps and progressively slower each zoom level after that.

Beyond my expertise to evaluate but perhaps @MaddTheSane or some of our other volunteers will be able ran a debugger or profiler and find some area

[2021-04-18 10:36] euf opened #52 "Black text in the About window looks bad in dark mode"
As title says:
<img width="396" alt="image" src="https://user-images.githubusercontent.com/11754264/115142537-f8f8a180-a04a-11eb-9ec3-12e57f45c17c.png">
(App Store version)

[2021-04-18 22:57] MaddTheSane commented on #52
What OS are you using?

[2021-05-09 07:33] Cypher69er opened #53 "JFIF support?"
I just had two RAR files fail to open in v1.9.1 (273) and noticed they both were using JFIF images. Is this a coincidence or does SC not yet support JFIF?

They opened OK in the old SC so wondering if that functionality has been dropped?

[2021-05-11 00:43] MaddTheSane commented on #53
From what I can find, jfif is either an early version of JPEG or _is_ JPEG. Adding .jfif files should be easy if that is the case.

[2021-05-15 17:02] roosterboy opened #54 "Cannot open file error in Big Sur"
So I finally upgraded to Big Sur last weekend. Ever since, I get the attached error dialog whenever I open a CBR or CBZ file. Fortunately, SimpleComic still opens and works properly after dismissing the error.

<img width="372" alt="Screen Shot 2021-05-15 at 10 01 17" src="https://user-images.githubusercontent.com/5996293/118372083-881ea980-b564-11eb-8ab3-27f727169708.png">

[2021-05-15 17:29] nickv2002 commented on #54
That's an odd one I haven't seen before. Lots of people using Big Sur so I doubt it's specifically related to that OS version.

Perhaps you can delete the app and any _Application Support_ files and re-download from the Mac App Store to see if that fixes things?

[2021-05-17 01:39] roosterboy commented on #54
That didn't fix things, unfortunately.

I mean, it's a minor annoyance right now since the files actually do open and, as far as I can tell, there is no degradation of functionality.

[2021-06-04 07:08] roosterboy commented on #54
And now, all of a sudden, I no longer get that message when I open a CBR or CBZ file. As of yesterday, I was still getting it. No recent system updates or anything else I can think of that might explain it. Weird.

The only thing system related I did in the last day or so was delete the container folder contents for Books.app and then restart, because Books couldn't access my library since upgradi

[2021-06-04 07:08] #54 closed, assigned to nobody

[2021-07-03 16:12] mrfusiontm opened #55 "Feature Request : basic image processing"
It would be great to have some basic image processing available like brightness/contrast or gamma controls.  Many scans I've seen are really washed out and a little tweaking would be all it would take to improve the reading experience.
Thanks for considering the request.

[2021-07-11 16:36] thibo1138 opened #56 "memory leak with webp files"
Hello

I have a comic with webp pictures and it appears that there is a performance issue and a memory leak when swiching to real size

First the app take 5s to switch pages which is quite long

and secondly is the real problem, when you switch to real size simple comic overload the ram in my case it reached 26GB for a back cover before I killed it for a 1.8MB webp pictures

Maybe the webp library

[2021-07-14 06:04] MaddTheSane commented on #56
What version of macOS are you using?

[2021-07-14 09:52] thibo1138 commented on #56
@mad the sane
I’m on macos 10.15.7
and the version of the app is 1.9.1 (273)

[2021-08-09 12:24] eugeniosz opened #57 "Quicklook generator not working if app is launched from outside the /Applications folder"
Quicklook works only if the app is launched from the Application folder.
I usually keep Apps in ~/Applications/ and launched from there quicklook stops showing preview.

[2021-10-19 19:19] jsteweii opened #60 "SOLVED: swiping problem edited to ask for swiping feature instead."
So, when leaving window at default size, swiping left/right works. But when resizing window, by dragging edges, to a custom scale the swiping left/right does not work. Up/down is good. I'm on Mojave 10.14.6 with all patches as of today installed. Any ideas? Thanks for an otherwise super little app.

Edit: I went over the help file and it seems to be a feature. Would it be possible to incorporate s

[2021-11-21 02:57] nickv2002 opened #61 "Monterey TestFlight Beta"
If you have Monterey you can join the [TestFlight beta of the new App store build here](https://testflight.apple.com/join/oHcg1JAt). Please give it a shot and LMK if there are any issues. If things look good I'll release this as 1.9.2. Build is based on https://github.com/MaddTheSane/Simple-Comic/commit/bf801a7071c33b902fbb6ef77a93be1f8358d19b

[2021-11-21 05:29] johannkoenig commented on #61
I had to change the link (https->itms-beta): [itms-beta://testflight.apple.com/join/oHcg1JAt](itms-beta://testflight.apple.com/join/oHcg1JAt) but now it's installed and working. No issues so far.

[2021-11-23 06:37] sygao commented on #61
Installed it on the M1 Mac Mini and read a few volumes, didn't run into any issues either.

[2021-11-30 19:27] nickv2002 commented on #61
Thanks for the feedback. I pushed this 1.9.2 release out to the general App Store audience and made a signed release here https://github.com/MaddTheSane/Simple-Comic/releases/tag/App-Store-1.9.2

[2021-11-30 19:27] #61 closed, assigned to nobody

[2021-12-09 22:15] Wevah commented on #53
It is JPEG, just a rather uncommon file extension. (Most JPEG files are technically JFIF or Exif files.)

[2021-12-10 18:03] ppzjd opened #62 "Since 1.9.2 update, upon opening, app doesn't keep newly-opened books in memory"
Upon opening the app, newly updated to 1.9.2, the first book opened is one I was reading prior to the update, even the exact same page!  Newly-opened books are still mentioned in both the "Open Recent" menu bar and in the Dock, but that older one is in the Dock as well.  This keeps happening no matter how many times I quit and reopen, whether I move the older file to a different folder, or even re

[2021-12-10 18:30] nickv2002 commented on #62
Thanks for the report @ppzjd - not sure I fully understand the problem though. What you described sounds like things working correctly. Perhaps you could clarify the specific problem with a screenshot?

[2021-12-10 19:38] ppzjd commented on #62
Hi, thanks for promptly responding, most appreciated!  This actually isn't the behavior that the app used to perform, since once I closed a comic, it would not ever reopen.  Also, newly opened books in the app do not appear after I quit and restart the program, just that one older book.  I have taken a screenshot, since I don't think I am quite explaining it properly.  This would be what I see whe

[2021-12-11 01:53] nickv2002 commented on #62
See https://github.com/MaddTheSane/Simple-Comic/commit/e480be770a986b2d32dc0213be499481d13714fd which modified the window restore behavior. Window restoration on launch should now follow your system settings. Please check your system settings to adjust this behavior. Monterey and Ventura screenshots below:
<img width="400" alt="Ventura Settings" src="https://user-images.githubusercontent.com/70439

[2021-12-11 18:18] ppzjd commented on #62
nickv, that solved my issue PERFECTLY!  Fantastic support, for sure.  Thanks so much!

[2021-12-11 19:22] #62 closed, assigned to nobody

[2021-12-13 07:47] PsyPryss opened #63 "Opened Files Are Not Reopened After Restarting"
Previously opened files are not reopened after quitting and restarting app like in 1.9.1. Moreover the open button and other UI are gold coloured instead of the system's blue. Not sure if related.

[2021-12-13 07:52] PsyPryss opened #64 "Option to Enable Double First Page or Single First Page"
As the title says.

[2021-12-13 17:36] nickv2002 commented on #63
This was an intended change. The app now follows the system setting. See https://github.com/MaddTheSane/Simple-Comic/issues/62#issuecomment-991409135 for more details on how to change it.

[2021-12-13 18:44] #63 closed, assigned to nobody

[2022-01-26 09:41] playerofgames opened #65 "Feature request: natural swiping direction"
It seems more natural to me for a swipe left to turn to the next page (in an L to R comic), though admittedly, macOS seems inconsistent in how it handles swipe directions. (Safari uses 'natural' direction for two finger swipe, and the opposite for three finger swipe.)

Perhaps this could be made a preference?

[2022-01-28 20:15] Wiredframe opened #66 "Remember Reading Position"
This little app is perfect for my needs. Just one thing that I'd like to suggest. Would it be possible to remember reading positions when reopening a comic book?

Thanks! 👍

[2022-01-28 20:58] nickv2002 commented on #66
Good feature request. Thanks!

[2022-02-07 03:19] jmusich opened #67 "alias display ??ss"
What must I doing to see a simple comic alias in the title of a cbr file . What i see is a generic blue folder with a zipper on it, however the files do open in simple comic.

[2022-02-16 12:32] CyberSkull opened #68 "QuickComic crashes when looking at WebP files"
QuickComic crashes when looking at a .cbz with WebP files in it.

macOS 10.15.7
SimpleComic 1.9.2 (274)

[crash.txt](https://github.com/MaddTheSane/Simple-Comic/files/8079854/crash.txt)

[2022-04-18 04:51] TehGerg commented on #66
I had been about to ask for that. It was one of my favorite features on the original. It automatically opened windows that were open when the app was exited, and in the same positions. If that's not possible, how about the ability to add bookmarks?

[2022-04-18 05:34] nickv2002 commented on #66
@TehGerg – New window memory was behavior an intended change. The app now follows the system setting. See https://github.com/MaddTheSane/Simple-Comic/issues/62#issuecomment-991409135 for more details on how to change it.

[2022-05-05 18:32] hsulin commented on #66
+1 remember reading positions

[2022-05-16 05:47] DavidPhillipOster opened #69 "enhancement: Live Text in Simple Comic"
I'm interested in weak-linking Apple's Vision framework into SimpleComic. The `Vision.framework` provides OCR services. so:
* You can use the mouse to sweep out and select the text and copy it to the clipboard like you can by opening a single `.jpg` in **Preview** on an Apple Silicon Mac. (Apple's Live Text feature.)
* The text in a cbr/cbz can be indexed by a Spotlight plugin, like SimpleComic's

[2022-05-16 16:44] nickv2002 commented on #69
Great idea!

I've been impressed with the Preview live text support so it would be neat to see it in Simple Comic as long as it was unobtrusive.

I would say that your stretch goal of translation might be beyond the scope of what we want to include. I have worries about adding bulky 3rd-party translation APIs, APIs that might contribute to tracking, and/or online service requirements.

[2022-05-16 20:17] DavidPhillipOster commented on #69
Also:
* The OCRed text can easily be connected to the built-in text-to-speech engine, which would let anyone who can't read still experience a graphic novel by just pointing at a word balloon.

Here's what I've got so far: https://github.com/DavidPhillipOster/MockSimpleComic a sample app that shows the power of the Vision framework. It OCRs a sample page, displaying where on the page it found the

[2022-05-16 21:31] MaddTheSane commented on #69
I have no issue with adding OCR support.
As for translation: Apple Silicon Macs have a translation option available. It doesn't live-translate, but you select text, right-click (or control-click), and it's the second menu option. It pops up a pop-up view, allowing you to select which language the source is, and which language to translate to. It'll even show other possible meanings if it isn't sur

[2022-05-16 22:00] DavidPhillipOster commented on #69
Thanks!  When I get as far as a pull request, I'll attempt to make it as unobtrusive as it is in Apple's **Preview** when you have a .jpg open.
I had a bug in the source language selection part of MockSimpleComic, now fixed. It now correctly fetches the list of Monterey source OCR languages: en-US, fr-FR, it-IT, de-DE, es-ES, pt-BR, zh-Hans, zh-Hant

[2022-05-22 06:28] DavidPhillipOster commented on #69
I've got https://github.com/DavidPhillipOster/MockSimpleComic working well enough. Next I'll start integrating that code into a branch of Simple Comics - I'm new to contributing to projects like this: how should I do pull requests so I don't just dump a load of code on you for you to review?

[2022-05-27 20:28] DavidPhillipOster commented on #69
I've got this working in the easy case in my fork in the OCR branch: https://github.com/DavidPhillipOster/Simple-Comic/tree/OCR

git commit b3e4cb6, is where I changed the bundle ID and TEAM to me, so you can pull that commit out to keep the original bundle ID and signature.

where the easy case is defined as one simple page, a jpg, png, or non-animated gif. Rotations and scaling work.

• cursor c

[2022-05-28 20:36] DavidPhillipOster commented on #69
See: https://github.com/MaddTheSane/Simple-Comic/pull/71

[2022-05-28 22:12] #69 closed, assigned to nobody

[2022-05-28 22:38] DavidPhillipOster commented on #69
Thank you!  I designed OCRTracker so if **Simple Comic** ever decides to show more than two images in a TSSTPageView then OCRTracker's datums array can be initialized with more elements and it all should just work.

[2022-05-28 22:41] DavidPhillipOster commented on #66
Can you give a more detailed bug report?  I can't reproduce this problem.  When Simple Comics is in the /Applications folder or a subfolder, it keeps a Core Data database of previous books, and their reading positions. For me, when I re-open Simple Comic, I get the previous books open in their previous window positions in their previous pages.

[2022-05-30 19:29] DavidPhillipOster commented on #19
I'm seeing this same issue:

    default	01:52:38.278000 -0400	Simple Comic	The file “SimpleComic.sql” couldn’t be opened because there is no such file.
    default	01:52:38.278629 -0400	Simple Comic	“SimpleComic.sql” couldn’t be removed.
    default	01:52:38.281376 -0400	Simple Comic	annotation:  Failed to load optimized model at path '/Applications/Simple Comic.localized/Simple Comic.app/Content

[2022-06-04 06:36] Patalliro8 opened #74 "Frequent software freeze since 1.9.3 update"
Since 1.9.3 update (on macOS 11.6.6), I am experiencing the software quickly slowing down until it becomes unresponsive with rotating wheel. Upon opening a 100MB file, the memory usage quickly rise from few hundred megabytes to multiple gigabytes, which may be the reason of slowdown. At this point, the only way to close the app is to force quit.

[2022-06-04 07:58] nickv2002 commented on #74
Thanks for the report, I'm guessing this is related to the Live Text processing. Any thoughts @DavidPhillipOster?

Maybe we need a pref to enable/disable live text?

[2022-06-04 16:30] DavidPhillipOster commented on #74
Thanks - I'll check in to this. My test file is a copy of 'The Silver Cord'  466 pages, a 3.3 Gbyte PDF. Early in my testing I noticed I'd dropped a CFRelease of a CGImage that was responsible for bloat. I'll check your master source to see if I made a mistake in the in the pull request.

[2022-06-04 17:41] DavidPhillipOster commented on #74
I am seeing some leaking CGImages in the current MaddTheSane/Simple-Comic . I'm working on a fix.

[2022-06-04 17:50] DavidPhillipOster opened #75 "UTExportedTypeDeclarations is missing entries, so Finder shows .cbz file as 'Data' in the 'Kind' column"
The Open dialog box, when the app is run under Xcode's debugger reports:

2022-06-04 10:23:50.751935-0700 Simple Comic[60215:2644120] cx.c3.cb7-archive is not a valid allowedFileType because it cannot be converted to a UTType
2022-06-04 10:23:50.752044-0700 Simple Comic[60215:2644120] com.yacreader.yacreader.cbr is not a valid allowedFileType because it cannot be converted to a UTType
2022-06-04 1

[2022-06-04 21:34] DavidPhillipOster commented on #74
no, all the leaks I saw were within the PDF renderer, and still present when all of my code was never called. Not present in .cbz (My largest CBZ is also 3.4 Gbyte, 210 pages) Next pull request will focus on a pref to enable/disable live text, and I'll test on High Sierra, and on Monterey on Apple Silicon, and on Intel.

[2022-06-04 21:52] nickv2002 commented on #74
Thanks for your hard work @DavidPhillipOster
@Patalliro8 if you can share any more info to help debug plead do. For example, are you using Intel or Apple Silicon? Can you share the file or point us where to find it?

[2022-06-05 06:17] Patalliro8 commented on #74
@nickv2002 @DavidPhillipOster
Thank you for looking into this. The issue was initially observed on Intel Mac while opening a CBZ file (zipped JPG, 230 pages, 119MB), but I can confirm this persists with PDF files (https://toyama.repo.nii.ac.jp/?action=repository_uri&item_id=935&file_id=18&file_no=1, 13 pages, 1.6MB, for example) as well.

[2022-06-05 07:31] nickv2002 commented on #19
I think we can break compatibility with old machines at this point. Anything too old can use an earlier binary and we can up the minimum version of macOS required to something more modern. I don't have a good idea of where to draw the line but I welcome suggestions. Maybe macOS 10.14 (Mojave) which came out in September 2018 so almost 4 years ago?

[2022-06-05 07:33] DavidPhillipOster commented on #74
@Patalliro8 @nickv2002
Thank you for that pdf. I didn't test with a document in Japanese, and Japanese is not a language Apple currently supports for OCR'ing with the Vision framework.

Currently, I'm planning to add an item to the preferences dialog box that will let the user control the Live Text feature ,
but, it will be on a whole - app basis, not a per-document one.

I was able to reproduce t

[2022-06-05 20:30] hsulin commented on #66
When I use command + W close the window of a comic.zip file, and then re-open it, Simple Comics starts from the very beginning, without remembering the previous reading position. (Of course, using command + Q is another case, it then keeps the reading position.)

I think it may be not a bug. It just misses the feature.

[2022-06-05 20:37] #74 closed, assigned to nobody

[2022-06-05 21:41] DavidPhillipOster commented on #66
I can reproduce this. Related: If I open a .cbz file, then use the open or Find Recent to open it again, it opens another window with a second copy.

The app's Core Data database has all the info to do the correct thing, since that's what happens on launch. But that's not what happens on open, not at launch.

[2022-06-05 21:52] nickv2002 commented on #74
Fixed in [1.9.4](https://github.com/MaddTheSane/Simple-Comic/releases/tag/App-Store-1.9.4)
Thanks all!

[2022-06-08 21:07] karpovpw opened #78 "Is it possible to use an area around the notch on new 14"/16" MacBooks?"
Basically, the title. I really want those sweet vertical pixels.  :(

[2022-06-08 22:14] nickv2002 commented on #78
I don't have a notchBook yet but maybe will get the new M2 Air and test.

For anyone who does have a notchBook: is the default behavior not ideal?

Background/Ref links:

- https://developer.apple.com/design/human-interface-guidelines/patterns/going-full-screen/
- https://developer.apple.com/documentation/bundleresources/information_property_list/nsprefersdisplaysafeareacompatibilitymode?language=

[2022-06-08 22:22] karpovpw commented on #78
I have a 14".

The default behavior is not using areas around notch (left and right) at all in both compatibility modes. It would be great to see an image stretched all the way up top. Yeah, the notch will be in the way, but we'll get more vertical height and pages will fill entire screen, which is more suitable for manga/comics reading.

My iOS skills are pretty weak, but maybe I can help in any

[2022-06-08 22:33] nickv2002 commented on #78
Ack, thanks for info.
One catch about stretching the image above the bottom of the notch is that there's have to be a way to disable it as I can imagine many people would not like that setup.

[2022-06-09 08:09] karpovpw commented on #78
Yeah, but simple on/off switch should be enough. Maybe even add a check if laptop screen has more height (ie not 16:10) and show that switch only if a user have notched device.

[2022-06-09 10:52] Petwannar commented on #57
The quick look worked on my Mac since a few months, but after every update of Simple Comic, I had to deinstall and reinstall the program otherwise, quick look was lost. Since the last update, despite this manoeuvre, I completely lost the option of the quick look. Any suggestions ?

[2022-06-10 03:37] johannkoenig commented on #78
I think a good idea would be to extend the "fit to screen" button so that clicking it again would toggle fitting with the notch. Obviously only use that option when the screen has a notch.

[2022-06-10 06:46] blmatthews commented on #78
Are there other apps that do something like that? I haven't seen any, but maybe just haven't run across them. I personally dislike windows covered by the notch, inevitable there's some important information under it and I have to fiddle with the window to see it, so I'd prefer if there was a setting to never put anything under the notch.

[2022-06-11 16:07] karpovpw commented on #78
I've seen some games that embrace the notch and full resolution of notched devices, like Minecraft and Life is Strange. It looks really cool with those thin display borders and the notch itself.

Well, that's the default behavior and an option to embrace the notch should be just that - an option.

The screen on 14" is comparably small, so adding 74px vertical pixels can actually increase readabili

[2022-06-28 14:35] fragilities opened #81 "Image Scaling: Scale to Width doesn't work as intended"
Hi, as the title says.

[Link](https://imgur.com/a/ccFaF9t) to the pic

[2022-07-28 11:18] karpovpw commented on #78
@nickv2002 Hey man, any news?

I just need some guidance with drawing content view and maybe I could help on this.

[2022-07-28 17:00] nickv2002 commented on #78
@karpovpw I've got a new M2 MacBook Air on its way to me soon. I'll test the current behavior around full-screen and notches and have a better idea of where to go.

If you have a good idea of how it should work you don't need to wait for my guidance. Just make sure users have a way to control the behavior. Thanks for any/all help!

[2022-07-31 06:33] nickv2002 commented on #78
Got my new MacBook and did some tests: I think the current behavior where content does not flow around the notch is the correct default. I agree that it would be a nice feature in the prefs for full screen to flow content around (and behind) the notch.

My day job moved away from Mac dev work long ago so I'm far from good source on what APIs to use on this or even how to code it up. (I just keep a

[2022-09-15 18:59] nickv2002 commented on #81
Thanks for the report, playing around with a comic on my system I've been unable to duplicate this. Can you confirm it still happens in the current version 1.9.5, and if so give us some more tips on how to replicate?